.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Isso faz com que a altura da .container seja igual à altura da viewport. */
}

.button-container {
  margin-top: 20px; /* Ajuste a margem conforme necessário. */
}
